################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WH.Logic/obj
/WH.Proxy/obj
/WH.Repository/obj
/WH.Service/obj
/WH.Shared/obj
/WH.UI/obj
/WH.Proxy/bin/Debug/net6.0
/WH.Shared/bin/Debug/net6.0
/WH.Logic/bin/Debug/net6.0
/WH.Repository/bin/Debug/net6.0
/WH.Service/bin/Debug/net6.0
/WH.UI/bin/Debug/net6.0-windows
